# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
venv.bak/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
*.cover
.hypothesis/
.pytest_cache/
.tox/
.nox/
coverage.xml
nosetests.xml
test-results.xml
.junit/

# Virtual environments
.venv/
.env/
venv/
ENV/

.idea